/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.chatButton {
    position:fixed;
    bottom:10px;
    right:5px;  
    border:none;
    background: none;

}

.chatIcon {
    color: purple;
    font-size: 38px;
}

.chatIcon:hover {
        transition: 0.3s;
        font-size: 43px;
}