.gridAdminBtn {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-gap: 20px;
}

.buttWidth {
    min-width: 130px;
}

.checkBoxAddEmployee {
    margin-right: 5px;
}

.adminBox {
    display:flex;
}

.otherPanel {
    flex: 4;
}
.sidebar {
    flex: 1;
    position:sticky;
    top: 30px;
    height:calc(100vh - 100px);
    text-align:center;
}