.chatBox {
    width: 470px;
    height: 610px;
    position: absolute;
    top: 125px;
    background-color: whitesmoke;
    z-index: 1;
    left:50%;
    transform:translateX(-50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
}

.chatFormFlex {
    display: flex;
    min-height:100%;
    flex-direction: column;
}

.chatFormFlex textarea {
    resize:none;
}

.btnChatPosition {
    margin-top: 150px;
    margin-left:10px;
}

.chatExit {
    border:none;
    background:none;
    padding:10px;
    color: cornflowerblue;
}
.messageBox {
    background-color: white;
    border: 1px solid black;
}

.bottomMargin {
    position: absolute;
    bottom: 0;
}

.chatHeight {
    min-height: 500px;
}


.chatTextStyle {
    margin-top: 15px;
}


.mainlyUser {
    color:white;
    padding: 5px;
    border-radius: 10px;
    background-color: blueviolet;
    text-align: left;
}

.secondUser {
    text-align:right;
}