.sidebarList {
    list-style-type:none;
    list-style-position: outside;
    margin-top:5px;
    line-height:55px;
}

.sidebarList li {
    cursor: pointer;
    padding:2px 12px;
    border-radius: 15px;
}

.sidebarList li:hover {
    background-color:rgba(0, 83, 255, 0.81);
    
    transition: 0.3s;
}