.blockBottom {
    border-bottom: 1px dotted black;
    width: 180px;
    float:left;
    height: 100px;
    text-align: center;
}

.confirmed {
    line-height: 0;
    font-size: 16px;
}

span {
    position: relative;
    bottom: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tableStyle {
    font-size:20px;

}

.tableStyle th {
    padding: 5px;
    text-align:center;
}

.tableStyle td {
    text-align: center;
}