.headerContainer {
    background:url('../../images/airplane.jfif');
    min-height:190px;
    position:relative;
}

.barsIcon {
    position:absolute;
    top:5px;
    left:5px;
    z-index:7;
}

@media (min-width:722px) {

}

@media (max-width:721px) {

}