.menuLayout {
    background-color: #444444;
    position: absolute;
}

.navMenuList {
    display: flex;
    position:relative;
    flex-direction:column;
    max-height:180px;
    flex-wrap: wrap;
}

.blockLeft {
    position:absolute;
    left:0;
}

.blockRight {
    position:absolute;
    right:0;
}

.listClass {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.menuLayout a {
    color:whitesmoke;
}

.listItem {
    border-bottom: 0.5px solid white;
}

@media(min-width:722px) {
    .menuLayout {
        width: 450px;
        left: 30px;
    }
}

@media(max-width:721px) {
    .menuLayout {
        width:100%;
        height:90vh;
        top:180px;
    }
}