.quickReservations {
    position:absolute;
    line-height: 20px;
    
    background-color: rgba(78, 0, 131, 100);
    color: rgba(16, 16, 16, 100);
    font-size: 14px;
}

.quickReservations form {
    position:relative;
}

.searchIconPos {
    position:absolute;
    right:5px;
    top:5px;
    z-index:7;
}

.quickSearchText {
    color: rgba(136, 136, 136, 100);
    font-size: 14px;
    text-align: left;
    font-family: Roboto;
    font-weight:bold;
    text-align:center;
    border: 1px solid rgba(187, 187, 187, 100);
}

/*
    Media max 721px mobile Phone
    Min 722 PC/Tablet
*/

@media (min-width:722px) {
    .quickReservations {
        right: 0px;
        top: 0px;
        border-radius: 10px;
    }
    .quickSearchText {
        width: 200px;
        height: 30px;
    }
    .quickSearchPosition {
    }
    .inputWidth {
        width:180px;
    }
}

@media (max-width: 721px) {
    .quickReservations {
        top:180px;
        height:90vh;
        min-width:100%;
    }
    .quickReservations form {
        margin-left:auto;
    }
}